html,
body {
  height: 100%;
  background-color: rgb(218, 133, 7);
}
.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}
.login-form {
  width: 600px;
  height: 370px;
  padding: 45px;
  bottom: 20px;
  background-color: #c7c2c2;
}
input[type="email"],
input[type="password"] {
  background: rgb(218, 133, 7);
  border-radius: 15px;
}
input[type="email"]:focus,
input[type="password"]:focus {
  border: none;
  background: rgb(218, 133, 7);
}
.card-title {
  font-weight: 1000;
  font-size: 40px;
  margin: -50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(218, 133, 7);
}
.btn {
  transform: translate(160px);
  width: 170px;
  font-weight: 500;
  border-radius: 20px;
}
.btn:hover {
  transform: translate(160px);
  width: 170px;
  font-weight: 500;
  background-color: rgb(218, 133, 7);
  border: none;
}
.title {
  margin-top: -40px;
  text-decoration: none;
}
.title-forget {
  text-align: right;
  margin-top: -25px;
  text-decoration: none;
}
